.ArticleContentContainer {
    display:flex;
    flex-direction:row;
    .adcs-col0 {
        width:75%;
        margin:40px 10px 0;
        padding:30px;
        h2 {
            text-transform:Uppercase;
            font-family:"Lato", sans-serif;
            font-size:30px;
            line-height:36px;
        }
        p{
            font-family:"Lato", sans-serif;
            font-size:18px;
            line-height:24px;
        }
    }
    .adcs-col1 {
        width:25%;
        text-align:center;
        margin:40px 10px 0;
        padding:30px;
        border-left:1px solid #003D99;
        .quoteCont{
            width:100%;
            img.first-quote {
                float:left;
                position:relative;
                top:-20px;
            }
            p {
                width: 95%;
                margin:0 auto;
                color:#13275A;
                font-family:"Lato", sans-serif;
                font-style: italic;
                font-size:22px;
                line-height:26px;
            }
            img.last-quote {
                float:right;
                position:relative;
                top: -20px;
                z-index:-1;
            }
        }
        .bioCont{
            text-align:center;
            img {
                margin:0 auto;
            }
            p.drName {
                font-size:18px;
                line-height:22px;

            }
            a {
                font-size: 20px;
                line-height:24px;
                font-weight:700;/* bold */
            }
        }
    }
}