
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

blockquote {
	font-size: 18px;
	font-style: italic;
	margin-top: 20px;
	padding: 0 30px 0.25em 40px;
	position: relative;
	color: $grey-73;
	border-width: 0;
	left: -40px;
	&:before, &:after {
		font-family: Georgia;
		color: $grey-65;
		font-size: 70px;
		position: absolute;
		line-height: 20px;
	}
	&:before {
		content: "\201c";
		left: 0;
		top: 15px;
  }
	&:after {
		content: "\201d";
		right: 0;
		bottom: -10px;
	}
}


blockquote cite {
	color: $grey-dc;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

hr {
	background: $grey-dc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

img.img-resp,
img.wp-post-image,
img.attachment-thumbnail,
img.attachment-medium,
img.attachment-large,
img.attachment-full {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.spacer {
	margin-bottom: 30px;
}

.aperto {
	position: relative;
}
