
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $alert-red;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: white;
	cursor: pointer;
	filter: none;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1;
	padding: 13px 30px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: $alert-red;
}

input[type=tel],
input[type=url],
input[type=time],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=search],
input[type=password],
input[type=datetime],
textarea {
	background-color: $white-ivory;
	border: 2px solid transparent;
	border-radius: 0;
	color: $grey-73;
	display: block;
	margin: 0 0 30px;
	outline: 0!important;
	padding: .75em .9em .7em;
	width: 100%;
	font-size: 80%;
	line-height: 80%;
	vertical-align: baseline;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	-webkit-appearance: none;
}

input[type=tel]:focus,
input[type=url]:focus,
input[type=time]:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
textarea:focus {
	background-color: white;
	border-color: $grey-dc;
}

textarea {
	display: block;
	height: 180px;
	line-height: 160%;
	resize: vertical;
	vertical-align: top;
}
