
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site {
	&-branding {
		img {
			width: 151px;
		}
	}
	&-header {
		background-color: white;
		height: 90px;
		width:100%;
		top:0;
		left: 0;
		z-index: 9999;
		border-radius: 0;
		&.affix + .site-content {
			padding-top: 90px;
		}
		&-icons {
			margin: 33px 0 0 15px;
			a {
				padding: 15px 0 15px 15px;
				&:hover, &:active, &:focus {
					text-decoration: none;
				}
			}
		}
	}
	&-title {
		color: $grey-20;
		font-family: 'Playfair Display', serif;
		font-size: 32px;
		font-weight: 400;
		font-style: italic;
		line-height: 90px;
		margin: 0;
		padding: 0;
		a {
			color: $grey-20;
			text-decoration: none;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	&-description {
		position: absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		color: white;
		margin:0;
		font-size: 26px;
		font-weight: 600;
		max-width: 70%;
		word-wrap: break-word;
		z-index: 1000;
	}
}
.navbar {
	&-brand {
		padding-top: 20px;
	}
}
.admin-bar .site-header.affix {
	top: 32px;
}
// 782px is a WordPress breakpoint for the height of the admin bar
@media (max-width: 782px) {
	.admin-bar .site-header.affix {
		top: 46px;
	}
}
