/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
	transition: all 0.35s;
	&.morelink, &.teaser-link {
		font-weight: 700;
		&:hover {
			text-decoration: none;
		}
		&:after {
			content: '\f054';
			font-family: FontAwesome;
			padding-left: 7px;
		}
	}
	&.externlink, &.external-link {
		&:after {
			content: '\f08e';
			font-family: FontAwesome;
			padding-left: 7px;
		}
	}
}
.phoneCall {
	&:after {
		content: '\f095';
		font-family: FontAwesome;
		font-size: 140%;
		padding-left: 10px;
		color: $link-color;
	}
}
a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.btn-cta, .btn-primary {
	background-color: #0075d4;
	background-image: linear-gradient(#249dff 0%, #0075d4 100%);
	color: #eee;
	text-transform: uppercase;
	border-radius: 0;
	border-width: 0;
	font-family: "HelveticaNeue";
	letter-spacing: 1px;
	font-size: 15px;
	transition: all 0.33s ease;
	&:hover {
		color: white;
		background-image: linear-gradient(#41a9fe 0%, #249dff 100%);
	}
}
