/*--------------------------------------------------------------
# Bottom Nav style for Parter pages
--------------------------------------------------------------*/
.partner-bottom-nav{
    &-header-wrapper{
        margin: 0 auto;
        padding-bottom: 1em;
        text-transform: uppercase;
        width: 60%;
        position: relative;
        .partner-bottom-nav-title {
            font-size:30px;
            line-height:36px;
        }
        .divider{
                position: absolute;
                bottom: 0;
                left: 44%;
                right: 40%;
                width: 13%;
                border-bottom: 2px solid #003D99;
        }
        .partner-bottom-nav-snip{
            font-size:18px;
            line-height:22px;
        }
    }

    .partner-bottom-nav-element-inner-wrapper {
        padding:15px 0;
        h4 {
            max-height:40px;
            height:100vh;
        }
    }
    &-title{
        text-align: center;
        margin-bottom: 0;
    }
    &-snip{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        padding: 2em 0;
    }
    &-wrapper{
        margin-bottom: 4em;

        @include clearfix();
    }
    .parnter-bottom-nav-snip{
        text-align: center;
    }
    &-element{
        float: left;
        width: 25%;
        @include clearfix();

        &-inner-wrapper{
            &:hover{
                background-color: #F5F4F4;
            }
            img{
                display: block;
                margin: 0 auto;
            }
            h4{
                margin: 1.5em auto;
                text-align: center;
                width: 80%;
            }
            p{
                margin: 1em auto;
                width: 80%;
            }

        }
    }
}

.partner-social{
    border-top: 1px solid #003D99;
    border-bottom: 1px solid #003D99;
    display: block;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
    &-inner-wrapper {

    }
    &-cta-text{
        font-size:24px;
        line-height:29px;
        font-family:"Lato",sans-serif;
    }
    &-icon-wrapper{
        display: block;
        margin: 0 auto;
        width: 15%;

        @include clearfix();

        img{
            max-width: 60px;
        }
    }
    &-icon-left{
        float: left;

        @include clearfix();
    }
    &-icon-right{
        float: right;
    }
}

.social-share{
    @include clearfix();
    &-inner-wrapper{
        display: block;
        float: right;
        margin-top: 2em;

        .social-share-text{
            position: relative;
            top: -15px;
            font-size: 15px;
            line-height: 18px;
            font-family:"Lato",sans-serif;
        }
        .social-share-icon-wrapper{
            
        }
        .social-share-text, .social-share-icon-wrapper{
            display: inline-block;
        }

        .divider{
            display: inline-block;
            font-size: 2em;
            line-height: 1em;
            margin: 0 0.2em;
        }

        .social-share-print-wrapper{
            display: inline-block;
            float: right;

            @include clearfix();
            
            .print-text, .print-icon{
                display: inline-block;
            }
            .print-text{
                margin-top: 1em;
            }
        }

    }
}
.legal-section{
    background-color: #F5F5F5;
    height:100%;

    &-inner-wrapper{
        margin: 0 auto;
        width: 65%;
        padding:10px 0;
        h3 {
            font-size:20px;
            line-height:24px;
            font:"lato",sans-serif;
            margin-bottom: 20px;
        }
        p{
            font-size:15px;
            line-height:18px;
            font:"lato",sans-serif;
        }
    }
}