/*--------------------------------------------------------------
# Bottom Nav style for Parter pages
--------------------------------------------------------------*/
.partner-bottom-nav{
    &-header-wrapper{
        margin: 0 auto;
        padding-bottom: 2em;
        text-transform: uppercase;
        width: 60%;
    }
    &-title{
        text-align: center;

        span{
            border-bottom: 1px solid black;
            display: inline-block;
            padding-bottom: 20px;
        }
    }
    &-snip{
        text-align: center;
    }
    &-wrapper{
        margin-bottom: 4em;

        @include clearfix();
    }
    &-element{
        float: left;
        width: 25%;
        @include clearfix();

        &-inner-wrapper{
            &:hover{
                background-color: #F5F4F4;
            }
            img{
                display: block;
                margin: 0 auto;
            }
            h4{
                margin: 1.5em auto;
                text-align: center;
                width: 80%;
            }
            p{
                margin: 1em auto;
                width: 80%;
            }

        }
    }
}

.partner-social{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;

    &-inner-wrapper{

    }
    &-cta-text{

    }
    &-icon-wrapper{
        display: block;
        margin: 0 auto;
        width: 20%;

        @include clearfix();
    }
    &-icon-left{
        float: left;

        @include clearfix();
    }
    &-icon-right{
        float: right;
    }
}

.social-share{
    @include clearfix();
    &-inner-wrapper{
        display: block;
        float: right;
        margin-top: 2em;

        .social-share-text{
            vertical-align: super;
        }
        .social-share-icon-wrapper{
            
        }
        .social-share-text, .social-share-icon-wrapper{
            display: inline-block;
        }

        .divider{
            display: inline-block;
            font-size: 2em;
            line-height: 1em;
            margin: 0 0.2em;
        }

        .social-share-print-wrapper{
            display: inline-block;
            float: right;

            @include clearfix();
            
            .print-text, .print-icon{
                display: inline-block;
            }
            .print-text{
                margin-top: 1em;
            }
        }

    }
}
.legal-section{
    background-color: #F5F5F5;

    &-inner-wrapper{
        margin: 0 auto;
        width: 90%;
    }
}