
/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.txakolina-post-format-wrapper {
	position: absolute;
	top:10px;
	left:10px;
	z-index: 1001;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: $alert-red;
	cursor: default;
}
.txakolina-post-format {
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	color: white;
}

.gallery-caption {
	display: none;
}
