.txakolina-search {
	height: 39px;
	display: none;
	form {
		margin: 24px 0;
		text-align: right;
		opacity: inherit;
		label {
			font-weight: normal;
			margin: 0;
		}
		input {
			border: none;
			background-color: #eee;
			position: relative;
			top: 0;
			padding: 0 12px;
			line-height: 39px;
			height: 39px;
			font-size: 18px;
			display: inline-block;
			&::-webkit-input-placeholder {
				color: rgba(0,0,0,0);
			}
			&:-ms-input-placeholder {
				color: rgba(0,0,0,0);
			}
			&[type='search'] {
				width: 250px;
			}
			&[type='submit'] {
				background-image: linear-gradient(#eee 0%, #ccc 100%);
				color: $brand-primary;
				text-transform: lowercase;
				transition: all 1s ease-in-out;
				&:hover {
					background-image: linear-gradient(#ccc 0%, #eee 100%);
				}
			}
		}
	}
	&-button {
		text-decoration: none;
	}
}

#txakolina-menu {
	text-decoration: none;
}

@media (min-width: $screen-md) {
	.txakolina-search {
		input[type='search'] {
			width: 400px;
		}
	}
}

/**
 * Search
 */
.close-search {
	text-align: center;
}
.close-search i {
	font-size: 24px;
	color: $grey-73;
	cursor: pointer;
}
