
/**
 * Slider with header images.
 */
#home-hero {
	position: fixed;
	max-width: 100%;
	left: 0;
	right: 0;
	img {
		min-width: 100%;
	}
}
// another wordpress breakpoint
@media (max-width: 600px) {
	#home-hero {
		position: absolute;
	}
}
