
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/


.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget {
	hyphens: auto;
	margin-bottom: 60px;
	font-weight: 300;
	width: 100%;
	word-wrap: break-word;
	color: $grey-73;
	background-color: $off-white;
	&-content {
		padding: 0 15px 15px;
	}
	&-title {
		font-weight: 700;
		font-stretch: expanded;
		font-size: 20px;
		color: #454545;
	}
}
